.wp-block-empower-pro-blocks-filter {
	// Filter
	.filtering + .wp-block-group > .wp-block-group__inner-container {
		position: relative;

		> .wp-block-empower-pro-blocks-column {
			// visibility: hidden;
			// transition: all .4s;
			// opacity: 0;
			position: absolute;
			display: none;
			// height: 100vh;
			// overflow: hidden;
			top: 0;
			left: 0;
			right: 0;

			&.active {
				// visibility: visible;
				display: block;
				// opacity: 1;
				position: relative;
				// height: auto;
				// overflow: visible;
			}
		}
	}

	.filtering > span,
	.filtering > div {
		@include button;
	}

	.filtering > div {
		@include button-small;
	}

	.filtering {
		display: flex;
		justify-content: center;
		margin-left: -20px;
		margin-right: -20px;
		// margin-bottom: $margin_bottom;

		> div,
		> span {
			> span {
				transition: all 0.2s;
			}
		}

		> div {
			@include box-shadow;
			flex-grow: 1;
			margin-left: 20px;
			margin-right: 20px;
			padding: 40px 30px;
			border-radius: $border_radius;
			// border-top-left-radius: $border_radius_medium;
			// border-top-right-radius: $border_radius_medium;
			font-size: $button_font_size;
			background-color: #fff !important;
			color: $text_color !important;
			display: flex;
			align-items: center;
			justify-content: center;

			.plus {
				display: block;
				background-repeat: no-repeat;
				background-image: url(../images/plus.svg);
				background-position: 50%;
				width: 31px;
				height: 31px;
				margin-right: 1em;
				-webkit-transition: -webkit-transform 0.4s ease-in-out;
				transition: transform 0.4s ease-in-out;
			}

			.pill {
				display: block;
				height: 12px;
				width: 30px;
				transition: all 0.4s ease-in-out;
				background-color: $body_background_color_two;
				border-radius: 99em;
				margin-right: 10px;
			}

			@include button-hover-animation-disable;

			&:hover {
				@include box-shadow-hover;
				color: $dark_text_color !important;

				.plus {
					-webkit-transform: rotate(90deg);
					transform: rotate(90deg);
				}

				.pill {
					width: 40px;
				}
			}

			&.active:hover .plus,
			&.active .plus {
				-webkit-transform: rotate(225deg);
				transform: rotate(225deg);
			}
		}

		@media screen and ( max-width: $tablet_width ) {
			&.item-selected {
				> div {
					margin-bottom: 0;
				}

				> div:not(.active) {
					height: 0;
					overflow: hidden;
					padding: 0;
					opacity: 0;
				}
			}
		}

		> span {
			&:not(.active) {
				background-color: transparent !important;
				color: $text_color !important;
			}
		}
		@media screen and ( max-width: $tablet_width ) {
			display: block;
			
			> div {
				margin-bottom: $margin_bottom_mobile;
				padding: 30px 20px;
			}
		}
	}

	@media screen and ( min-width: $ipad_width_1 ) {
		.filtering-heading {
			margin-bottom: 100px;
			position: relative;

			.filtering {
				position: absolute;
				top: 50%;
				margin-top: -12px;
				right: 0;
				background-color: $body_background_color;
			}

			.elegant {
				margin-bottom: 0;
			}
		}
	}

	.filtering.block-buttons {
		display: block !important;

		.wp-block-button {
			padding: 0;
			margin-bottom: 14px;
			text-align: left;
			display: block !important;
			box-shadow: none !important;
			cursor: default;
			height: auto !important;
			overflow: hidden !important;
			padding: 0 !important;
			opacity: 1 !important;
			border-radius: 0 !important;
		}
	}

}
