.wp-block-empower-pro-blocks-container {
	width: 100%;
	height: 100%;

	.container-content {
		width: 100%;
		height: 100%;
	}

	.wp-block-container__inner-content {
		> *:first-child {
			margin-top: 0;
		}
		> *:last-child {
			margin-bottom: 0;
		}

		> * {
			margin-left: 0;
			margin-right: 0;
		}

		& p {
			color: $text_color !important;
		}

		border-top: 14px solid $border_color;
		width: 100%;
		height: 100%;
		background-color: $body_background_color;
		padding: 60px 30px;
		box-shadow: 0 2px 30px 0 rgba(0,0,0,0.07);
		border-radius: $border_radius;
		border-top-left-radius: $border_radius_medium;
		border-top-right-radius: $border_radius_medium;
		display: flex;
		flex-direction: column;
		transition: all 0.15s linear;

		&:hover {
			-webkit-transform: translateY(-2px);
			transform: translateY(-2px);
			@include box-shadow-hover;
		}

	}

	&.is-border-style,
	&.is-plain-style {
		.wp-block-container__inner-content {
			border-top-width: 0;
			border-radius: 0;
		}
	}

	&.is-border-style {
		.wp-block-container__inner-content {
			border: 3px solid $border_color;
		}
	}

	&.is-small-size {
		.wp-block-container__inner-content {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
