.wp-block-empower-pro-blocks-column {
	display: block;
	> .block-editor-inner-blocks {
		> .block-editor-block-list__layout {
			// border: 1px dashed $admin_border_color;
			// padding: 0 20px;
			display: flex;
			flex-direction: column;
		}
	}
}
