.wp-block-empower-pro-blocks-icontext {
	.wp-block-icontext__inner-wrap {
		display: flex;
		align-items: center;
	}
	.button-icon-before {
		width: 46px;
		padding-right: 8px;
		display: flex;
		align-items: center;
	}

	.icon-text {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}
