.wp-block-empower-pro-blocks-icontext {
	& + .wp-block-empower-pro-blocks-icontext {
		margin-top: 10px;
	}
	.wp-block-icontext__inner-wrap {
		display: flex;
		align-items: flex-start;
	}
	.button-icon-before {
		width: 46px;
		padding-right: 15px;
		display: flex;
		align-items: center;
		box-sizing: content-box;
		
		svg {
			fill: $text_color;
		}
	}

	.icon-text {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}
