// Pricing Guide
.wp-block-table.program-guide table,
.wp-block-table.pricing-guide table {
	table-layout: fixed;

	thead tr {
		td.price {
			border-left: $table_border_width solid $table_border_color;
			border-right: $table_border_width solid $table_border_color;
			padding: 20px 20px;
			font-family: $heading_font_family;
			font-weight: $heading_font_weight;
			line-height: $heading_font_line_height;
			letter-spacing: $heading_font_letter_spacing;
			text-decoration: none;
			color: $heading_color;
			font-style: $heading_font_style;
			font-size: $heading_font_size_h6;
			text-transform: $heading_font_text_transform;
			text-align: center;

			&:last-child {
				border-right-width: 0;
			}

			&:first-child {
			}
		}
	}
	@media screen and (max-width: $tablet_width) {
		tr td:first-child {
			width: 27%;

			@media screen and (max-width: $tablet_width) {
				width: 45%;
			}

			div {
				left: 0;
				transform: rotate(-90deg) translateY(100%);
			}
		}

		tfoot,
		thead {
			tr {
				height: 110px;
			}

			td {
				// position: relative;
				background: none !important;
				text-align: left !important;
				text-align: left !important;
				position: relative;

				div {
					font-size: 10px !important;
					width: 110px !important;
					transform: rotate(-90deg) translateY(50%);
					padding-left: 5px;
					position: absolute;
					top: auto;
					bottom: 0;
					left: 50%;
					transform-origin: bottom left;
				}
			}
		}

		tfoot {
			// display: none;

			td {
				text-align: right !important;
				div {
					padding-left: 0;
					padding-right: 5px;
				}
			}
		}
	}
}

.wp-block-table.program-guide table,
.wp-block-table.pricing-guide table {
	tr.sub-head {
		td {
			background-color: $body_background_color_two;
			font-weight: $body_font_weight_bold;
			padding: 14px 20px;
			font-style: italic;
		}
	}
}

.mobile-show {
	&.wp-block-table {
		table-layout: auto !important;

		& + .wp-block-table {
			margin-top: 40px;
		}

		tfoot,
		thead {
			border-bottom: 0;

			tr {
				td.title {
					padding: 20px 20px;
					font-weight: $body_font_weight_bold;
					vertical-align: middle;
					text-align: center;
					text-align: center;
					border-bottom: 0 !important;
				}

				td.price {
					padding: 20px 20px;
					font-family: $heading_font_family;
					font-weight: $heading_font_weight;
					line-height: $heading_font_line_height;
					letter-spacing: $heading_font_letter_spacing;
					text-decoration: none;
					color: $heading_color;
					font-style: $heading_font_style;
					font-size: $heading_font_size_h6;
					text-transform: $heading_font_text_transform;
					text-align: center;
					border-bottom: $table_border_width solid $border_color;
				}

				td.sub-head {
					background-color: $body_background_color_two;
					font-weight: $body_font_weight_bold;
					padding: 14px 20px !important;
					font-style: italic;
					border-bottom: $table_border_width solid $border_color;
				}

				td.sub-title {
					height: auto !important;
					text-align: center;
				}
			}
		}

		tbody {
			tr:first-child {
				i {
					top: 30px;
				}

				td {
					padding-top: 30px;
				}
			}

			tr:last-child {
				td {
					border-bottom-width: 0;
					padding-bottom: 30px;
				}
			}

			td {
				padding-left: 40px !important;
				padding-right: 20px !important;
				padding-top: 5px;
				padding-bottom: 5px;
				// border-bottom: $table_border_width solid $border_color;
				border-left: 0;
				border-right: 0;
				position: relative;

				i {
					position: absolute;
					top: 5px;
					left: 20px;
				}
			}
		}
	}
}

.wp-block-table.program-guide table {
	box-shadow: none;
	position: relative;
	margin-top: 25px;

	@media screen and (max-width: $tablet_width) {
		margin-top: 0;
	}

	tr {
		border-bottom: $table_border_width solid $table_border_color;

		&:first-child,
		&:last-child {
			border-bottom-width: 0;
		}

		td {
			border-width: 0;
		}
	}

	tfoot,
	thead {
		border-width: 0;

		td.sub-title {
			height: auto !important;
			border-width: 0;
			font-family: $button_font_family;
			font-size: $button_font_size - 2;
			font-weight: $button_font_weight;
			letter-spacing: $button_font_letter_spacing;
			line-height: $button_font_line_height;
			text-decoration: $button_font_text_decoration;
			text-transform: $button_font_text_transform;
			font-style: $button_font_style;
			padding: 10px 0 10px 0;
		}

		tr {
		}
	}

	thead {
		td.sub-title {
			// position: -webkit-sticky;
			// position: sticky;
			// top: $nav_height + 160;
			// z-index: 10;
			// background: rgba( 255, 255, 255, 0.9);

			// // @include vertical-gradient($body_background_color, transparent, 80%, 100%);

			// @media screen and ( max-width: $ipad_width ) {
			// position: relative;
			// top: auto !important;
			// }
		}
	}
	tfoot {
		td.sub-title {
			padding: 10px 0 10px 0;
		}
	}
	tbody {
		tr {
			&:nth-child(even) {
				background-color: $body_background_color_two;
				td {
					&:first-child {
						@include horizontal-gradient(
							$body_background_color,
							$body_background_color_two
						);
					}
					&:nth-last-child(2) {
						@include horizontal-gradient(
							$body_background_color_two,
							$body_background_color
						);
					}
					&:last-child {
						background-color: $body_background_color;
					}
				}
			}
		}

		td {
			vertical-align: middle;
			position: relative;

			&:first-child {
				padding-left: 0;
				position: relative;
				padding-left: 50px;

				@media screen and (max-width: $tablet_width) {
					padding-left: 0;
					padding-right: 10px;
				}

				span.abilitie-icon {
					position: absolute;
					margin: 0;
					left: 0px;
					width: 28px;

					@media screen and (max-width: $tablet_width) {
						position: relative;
						// display: none;
						width: 14px;
						height: 20px;
					}
				}

				&::before {
					display: none;
				}
			}

			@media screen and (max-width: $tablet_width) {
				p {
					font-size: $body_font_size_tiny;
				}
			}

			&::before {
				display: block;
				content: " ";
				background-color: $table_border_color;
				width: 1px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 50%;
			}

			i {
				display: inline-block;
				height: 12px;
				margin-left: -16px;
				margin-top: -6px;
				width: 32px;
				transition: all 0.4s ease-in-out;
				background-color: #f5f5f5;
				border-radius: 99em;
				position: absolute;

				@media screen and (max-width: $tablet_width) {
					// margin-left: -20px;
				}

				&.p1,
				&.p2,
				&.p3,
				&.p4 {
					opacity: 0;
					// left: -9999em;
					z-index: 1;
				}

				&.active {
					opacity: 1;
					// left: auto;
					z-index: 2;

					&.span-1 {
						width: calc(100% + 32px);
					}

					&.span-1-half {
						width: calc(150% + 32px);
					}

					&.span-2 {
						width: calc(200% + 32px);
					}
				}

				&.offset {
					// position: relative;
					left: 100%;
				}
			}

			h4 {
				margin-bottom: 5px;

				@media screen and (max-width: $tablet_width) {
					font-size: 14px;
				}
			}

			> *:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
}

.admin-bar {
	.wp-block-table.program-guide table {
		thead {
			td {
				// top: $nav_height + 160 + 32;
			}
		}
	}
}

// Program Guide Wrapper
.table-player {
	position: relative;
	z-index: 1;

	&::before {
		display: block;
		content: "";
		width: 100%;
		height: 15px;
		background-color: $table_border_color;
		left: 0;
		right: 0;
		bottom: 0px;
		position: absolute;
		z-index: 10;
		border-bottom-left-radius: $border_radius;
		border-bottom-right-radius: $border_radius;

		@media screen and (max-width: $tablet_width) {
			display: none;
		}
	}
}

.table-player2 {
	position: relative;
	z-index: 1;

	&::before {
		display: block;
		content: "";
		width: 100%;
		height: 15px;
		background-color: $table_border_color;
		left: 0;
		right: 0;
		bottom: 0px;
		position: absolute;
		z-index: 10;
		border-bottom-left-radius: $border_radius;
		border-bottom-right-radius: $border_radius;

		@media screen and (max-width: $tablet_width) {
			display: none;
		}
	}
}
// Table Player
.table-player {
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 40px 40px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: center;
	transition: all 0.2s;
	position: -webkit-sticky;
	position: sticky;
	top: $nav_height;
	background-color: $body_background_color;
	z-index: 20;
	padding-top: 30px;
	// margin-left: -20px;
	// margin-right: -20px;
	// margin-bottom: $margin_bottom;

	@media screen and (max-width: $ipad_width) {
		grid-gap: 20px 20px;
	}

	@media screen and (max-width: $ipad_width) {
		position: relative;
		top: auto !important;
	}

	> div {
		> span {
			transition: all 0.2s;
		}
	}

	// .color-scheme-third .pill {
	// background-image: url(../images/chats-icon.svg);
	// }

	// .color-scheme-third.active .pill {
	// background-image: url(../images/chats-icon-white.svg);
	// }

	// .color-scheme-secondary .pill {
	// background-image: url(../images/bars-icon.svg);
	// }

	// .color-scheme-secondary.active .pill {
	// background-image: url(../images/bars-icon-white.svg);
	// }

	// .color-scheme-fifth .pill {
	// background-image: url(../images/triangles-icon.svg);
	// }

	// .color-scheme-fifth.active .pill {
	// background-image: url(../images/triangles-icon-white.svg);
	// }

	> div {
		@include box-shadow;
		flex-grow: 1;
		// margin-left: 20px;
		// margin-right: 20px;
		border-radius: 0;
		border-top-left-radius: $border_radius_medium;
		border-top-right-radius: $border_radius_medium;
		font-size: $button_font_size - 1;
		background-color: #fff !important;
		color: $text_color !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 50px 0 50px;
		height: 130px;
		margin-bottom: 0;
		word-break: break-word;

		& > *:last-child {
			padding-bottom: 15px;
		}

		@media screen and (max-width: $tablet_width) {
			height: auto;
			border-radius: $border_radius;

			& > *:last-child {
				padding-bottom: 0;
			}
		}

		.pill {
			display: block;
			height: 12px;
			width: 32px;
			transition: all 0.4s ease-in-out;
			background-color: $body_background_color_two;
			border-radius: 99em;
			margin-bottom: 10px;

			// background-repeat: no-repeat;
			// background-size: 100%;
			// background-position: 50%;
			// width: 30px;
			// height: 30px;
		}

		&.active {
			.pill {
				width: 38px;
			}
		}

		&:first-child {
			border-bottom-left-radius: $border_radius;
		}

		&:last-child {
			border-bottom-right-radius: $border_radius;
		}

		&:hover {
			color: $dark_text_color !important;
			@include box-shadow-hover;
		}

		@media screen and (max-width: $tablet_width) {
			justify-content: left;
		}
	}

	> div {
		line-height: $body_font_line_height;
	}

	@media screen and (max-width: $tablet_width) {
		display: block;

		> div {
			margin-bottom: 20px;
			padding: 20px 20px;
		}
	}
}

// Table Player
.table-player2 {
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 40px 40px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	transition: all 0.2s;
	position: -webkit-sticky;
	position: sticky;
	top: $nav_height;
	background-color: $body_background_color;
	z-index: 20;
	padding-top: 30px;
	// margin-left: -20px;
	// margin-right: -20px;
	// margin-bottom: $margin_bottom;

	@media screen and (max-width: $ipad_width) {
		grid-gap: 20px 20px;
	}

	@media screen and (max-width: $ipad_width) {
		position: relative;
		top: auto !important;
	}

	> div {
		> span {
			transition: all 0.2s;
		}
	}

	// .color-scheme-third .pill {
	// background-image: url(../images/chats-icon.svg);
	// }

	// .color-scheme-third.active .pill {
	// background-image: url(../images/chats-icon-white.svg);
	// }

	// .color-scheme-secondary .pill {
	// background-image: url(../images/bars-icon.svg);
	// }

	// .color-scheme-secondary.active .pill {
	// background-image: url(../images/bars-icon-white.svg);
	// }

	// .color-scheme-fifth .pill {
	// background-image: url(../images/triangles-icon.svg);
	// }

	// .color-scheme-fifth.active .pill {
	// background-image: url(../images/triangles-icon-white.svg);
	// }

	> div {
		@include box-shadow;
		flex-grow: 1;
		// margin-left: 20px;
		// margin-right: 20px;
		border-radius: 0;
		border-top-left-radius: $border_radius_medium;
		border-top-right-radius: $border_radius_medium;
		font-size: $button_font_size - 1;
		background-color: #fff !important;
		color: $text_color !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 20px 0 20px;
		height: 130px;
		margin-bottom: 0;
		word-break: break-word;

		& > *:last-child {
			padding-bottom: 15px;
		}

		@media screen and (max-width: $tablet_width) {
			height: auto;
			border-radius: $border_radius;

			& > *:last-child {
				padding-bottom: 0;
			}
		}

		.pill {
			display: block;
			height: 12px;
			width: 32px;
			transition: all 0.4s ease-in-out;
			background-color: $body_background_color_two;
			border-radius: 99em;
			margin-bottom: 10px;

			// background-repeat: no-repeat;
			// background-size: 100%;
			// background-position: 50%;
			// width: 30px;
			// height: 30px;
		}

		&.active {
			.pill {
				width: 38px;
			}
		}

		&:first-child {
			border-bottom-left-radius: $border_radius;
		}

		&:last-child {
			border-bottom-right-radius: $border_radius;
		}

		&:hover {
			color: $dark_text_color !important;
			@include box-shadow-hover;
		}

		@media screen and (max-width: $tablet_width) {
			justify-content: left;
		}
	}

	> div {
		line-height: $body_font_line_height;
	}

	@media screen and (max-width: $tablet_width) {
		display: block;

		> div {
			margin-bottom: 20px;
			padding: 20px 20px;
		}
	}
}
.admin-bar {
	.table-player {
		top: $nav_height + 32;
	}
	.table-player2 {
		top: $nav_height + 32;
	}
}
.table-player2-content {
	.tab1,
	.tab2,
	.tab3,
	.tab4,
	.tab5 {
		transition: all 0.4s ease-in-out;
		opacity: 0;
		display: none;
	}

	.active {
		opacity: 1;
		display: block;
	}
}
