@for $i from 0 through 40 {
	$x: $i * 2;
	.mr-#{$x} {
		margin-right: #{$x}px !important;
	}
	.ml-#{$x} {
		margin-left: #{$x}px !important;
	}
	.mt-#{$x} {
		margin-top: #{$x}px !important;
	}
	.mb-#{$x} {
		margin-bottom: #{$x}px !important;
	}
	.pr-#{$x} {
		padding-right: #{$x}px !important;
	}
	.pl-#{$x} {
		padding-left: #{$x}px !important;
	}
	.pt-#{$x} {
		padding-top: #{$x}px !important;
	}
	.pb-#{$x} {
		padding-bottom: #{$x}px !important;
	}
}

@for $i from 5 through 50 {
	$x: $i * 10;
	.mr-#{$x} {
		margin-right: #{$x}px !important;
	}
	.ml-#{$x} {
		margin-left: #{$x}px !important;
	}
	.mt-#{$x} {
		margin-top: #{$x}px !important;
	}
	.mb-#{$x} {
		margin-bottom: #{$x}px !important;
	}
	.pr-#{$x} {
		padding-right: #{$x}px !important;
	}
	.pl-#{$x} {
		padding-left: #{$x}px !important;
	}
	.pt-#{$x} {
		padding-top: #{$x}px !important;
	}
	.pb-#{$x} {
		padding-bottom: #{$x}px !important;
	}
}

.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

@for $i from 1 through 10 {
	.opacity-#{$i}0 {
		opacity: #{($i/10)} !important;
	}
}

@for $i from 1 through 20 {
	$x: 300 + ( $i * 50 );

	.max-w-#{$x} {
		max-width: #{$x}px !important;
	}
}
