a.aligncenter img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

img.alignnone,
.alignnone {
	// margin-bottom: 24px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	// margin: 0 24px 24px 0;
	margin-right: 24px;
	margin-left: 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	// margin: 0 0 24px 24px;
	margin-left: 24px;
	margin-right: 0;
}

.gallery-caption,
.wp-caption-text {
	font-size: $body_font_size_small;
	// font-size: 1.4rem;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-block-video,
.entry-content .wp-video {
	margin: 0 0 $margin_bottom;

	video {
		margin-bottom: 0;
		display: block;
	}
}
