.wp-block-empower-pro-blocks-background {
	position: relative;

	.wp-block-background__inner-container {
		position: relative;
		z-index: 1;
	}

	.wp-block-background__color-container {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	&.display-bottom-curve-slant {
		overflow: hidden;
		.wp-block-background__color-container {
			position: absolute;
			top: auto;
			right: auto;
			bottom: -0px;
			left: 50%;
			margin-left: -980px;
			width: 2732px;
			max-width: 2732px;
			z-index: 0;

			svg {
				display: block;
			}
		}
	}

	.above-fold-background {
		position: absolute;
		bottom: -320px;
		z-index: 50;
		left: -320px;

		@media only screen and (max-width: $ipad_width) {
			display: none;
		}
	}

	.below-fold-background {
		position: absolute;
		top: 610px;
		z-index: 1;
		right: -260px;

		@media only screen and (max-width: $ipad_width) {
			display: none;
		}
	}

	.below-fold-background-2 {
		position: absolute;
		top: -240px;
		z-index: 1;
		left: -250px;

		@media only screen and (max-width: $ipad_width) {
			display: none;
		}
	}

	.below-fold-background-3 {
		margin-top: -85px;
		position: absolute;
		z-index: 1;
		left: auto;
		left: calc(50% + 100px);
		width: 700px;

		@media only screen and (max-width: $ipad_width) {
			display: none;
		}
	}

	.below-fold-background-4 {
		position: absolute;
		top: 80px;
		z-index: 1;
		right: -360px;

		@media only screen and (max-width: $ipad_width) {
			display: none;
		}
	}

	.below-fold-background-5 {
		position: absolute;
		top: -100px;
		z-index: 1;
		right: -280px;

		@media only screen and (max-width: $ipad_width) {
			display: none;
		}
	}

	.block-wrap {
		position: relative;
		z-index: 2;

		> *:first-child {
			margin-top: 0 !important;
		}

		> *:last-child {
			margin-bottom: 0 !important;
		}
	}

	.draw-line {
		position: absolute;
		left: 40%;
		top: -430px;
		height: 862px;
		width: 1581px;
		max-width: 1581px;
		pointer-events: none;
		z-index: 1;

		.wp-block-image {
			transition: 1.5s width ease;
			width: 0;
			float: right;
			overflow: hidden;
			height: 100%;
			position: absolute;
			left: auto;
			right: 0;
			top: 0;

			> svg {
				position: absolute;
				top: 0;
				right: 0;
				width: 1581px;
				max-width: 1581px;
				// opacity: 0.1;
			}
		}

		&.draw-line-animate .wp-block-image {
			width: 100%;
		}

		@media only screen and (max-width: $ipad_width) {
			display: none;
		}
	}

	// slant
	&.display-top-crop-slant .wp-block-background__inner-container,
	&.display-top-crop-slant .wp-block-background__color-container,
	&.display-top-slant .wp-block-background__color-container {
		-webkit-clip-path: polygon(0 160px, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 160px, 100% 0, 100% 100%, 0 100%);

		@media only screen and (max-width: $ipad_width) {
			-webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
			clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
		}
		@media only screen and (max-width: $mobile_width) {
			-webkit-clip-path: polygon(0 60px, 100% 0, 100% 100%, 0 100%);
			clip-path: polygon(0 60px, 100% 0, 100% 100%, 0 100%);
		}
	}

	&.display-bottom-crop-slant .wp-block-background__inner-container,
	&.display-bottom-crop-slant .wp-block-background__color-container,
	&.display-bottom-slant .wp-block-background__color-container {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 160px), 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 160px), 0 100%);

		@media only screen and (max-width: $ipad_width) {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
			clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
		}
		@media only screen and (max-width: $mobile_width) {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0 100%);
			clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0 100%);
		}
	}
}
