.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  
  background: rgba(0, 0, 0, 0.6);

  display: block;
  // display: flex;
  // align-items: flex-start;
  // justify-content: center;

  overflow-y: scroll;
  margin-bottom: 40px;
}
.modal {
  display: block;
  margin-top: 40px;
  width: 600px;
  max-width: 100%;
  min-height: 400px;
  z-index: 1000;
  padding-bottom: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.admin-bar .modal {
  display: block;
  margin-top: 72px;
}
#modal-overlay.closed {
  display: none;
}

#close-button {
	top: -15px;
	right: -15px;
	bottom: auto;
	left: auto;
	position: absolute !important;
    cursor: pointer !important;
    z-index: 999 !important;
    border: none !important;
    background-color: #ffffff !important;
    padding-top: 05px !important;
    padding-right: 05px !important;
    padding-bottom: 05px !important;
    padding-left: 05px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    fill: #333333 !important;
    border-radius: 100% !important;
    box-shadow: 0px 0px 0px 0px #333333 !important;
    min-width: auto !important;
	transform: none !important;
}
#close-button:hover {
    background-color: #333 !important;
    fill: #fff !important;
}
.modal-inner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  // padding: 40px 40px 40px 40px;
  padding: 0;
  background: white;
  @include box-shadow;

  .wp-block-group__inner-container > *:last-child,
  > *:last-child {
	  margin-bottom: 0 !important;
  }
}
