.pagination {
	clear: both;
	position: relative;
}

.third-width-entries .archive-pagination,
.half-width-entries .archive-pagination,
.full-width-content .archive-pagination {
	text-align: center;
}

.third-width-entries .archive-pagination ul,
.half-width-entries .archive-pagination ul {
	padding: 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {
	margin: 80px 0 80px 0;
}

.content-sidebar .archive-pagination {
	text-align: center;

	@media only screen and (max-width: $ipad_width) {
		// text-align: left;
	}

}

.archive-pagination li {
	display: inline-block;
	margin: 0 3px 6px 3px;
}

.archive-pagination a {
	background-color: $body_background_color;
	// font-family: $button_font_family;
	font-size: $body_font_size_tiny;
	font-weight: 700;
	// letter-spacing: $button_font_letter_spacing;
	line-height: $button_font_line_height;
	text-decoration: none;
	// text-transform: $button_font_text_transform;
	// font-style: $button_font_style;
	border-radius: $button_radius;
	color: $dark_text_color;
	border: $border_width solid $border_color;
	cursor: pointer;
	display: inline-block;
	padding: 12px 16px;
	transition: all 0.4s;
}

.archive-pagination a:focus,
.archive-pagination a:hover,
.archive-pagination .active a {
	// background-color: $color_one;
	color: #fff;
	// border: $border_width solid $color_one;
}

@media only screen and (max-width: $tablet_width) {
	.third-width-entries .archive-pagination ul,
	.half-width-entries .archive-pagination ul {
		padding: 20px 0;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

}
