.genesis-skip-link {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 14px;
	// font-size: 1.4rem;
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	list-style: none;
	width: 0;
}

/* Display outline on focus */
:focus {
	// color: $nav_color;
	// outline: #ccc solid 1px;
}

@media only screen and (max-width: $ipad_width) {
	.genesis-skip-link .skip-link-hidden {
		display: none;
		visibility: hidden;
	}

}
