.entry-content .wp-block-columns {
	margin-bottom: $margin_bottom;
}

.entry-content .wp-block-columns.alignfull {
	padding: 0 30px;
}

@media only screen and (max-width: $ipad_width ) {
	#genesis-content .wp-block-columns {
		display: block;
	}

	#genesis-content .wp-block-columns .wp-block-column {
		margin: 0;
		flex: 1;
	}

	#genesis-content .wp-block-columns {
		margin-bottom: 60px;
	}

}

@media screen and ( min-width: $ipad_width_1 ) {
	@for $i from 0 through 20 {
		$x: $i * 10;
		.columns-gap-#{$x} .wp-block-column:not(:first-child) {
			margin-left: #{$x}px !important;
		}
	}
}

@media screen and ( max-width: $ipad_width ) {
	@for $i from 0 through 20 {
		$x: $i * 10;
		.md\:columns-gap-#{$x} .wp-block-column:not(:last-child) {
			margin-bottom: #{$x}px !important;
		}
	}
}
