.wp-block-gallery .blocks-gallery-image figure figcaption,
.wp-block-gallery .blocks-gallery-item figure figcaption {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) 60%, transparent);
}

.wp-block-gallery {
	.blocks-gallery-grid {
		margin: 0;

		li::before {
			display: none;
		}
	}
}

// is-style-brands
.wp-block-gallery.is-style-brands {
	display: block;

	.blocks-gallery-item img {
		max-height: 80px;
	}

	.blocks-gallery-item figure {
		justify-content: center;
	}
}

.wp-block-gallery.is-style-brands .blocks-gallery-grid {
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.wp-block-gallery.is-style-brands .blocks-gallery-item {
	flex: 1 1 auto;

	&:last-child {
		margin-right: 0 !important;
	}

	figure {
		filter: grayscale(100%);
		opacity: 0.5;
		@include animation-all;

		&:hover {
			opacity: 1;
			filter: none;
		}
	}
}

.wp-block-gallery.columns-6.is-style-brands .blocks-gallery-item {
	width: calc((100% - 300px) / 6);
	max-width: calc((100% - 300px) / 6);
	margin-right: 50px;
	margin-bottom: 50px;
}

.wp-block-gallery.columns-6.is-style-brands .blocks-gallery-item:nth-of-type(6n) {
	margin-right: 0;
}

.wp-block-gallery.columns-5.is-style-brands .blocks-gallery-item {
	width: calc((100% - 240px) / 5);
	max-width: calc((100% - 240px) / 5);
	margin-right: 60px;
	margin-bottom: 60px;
}

.wp-block-gallery.columns-5.is-style-brands .blocks-gallery-item:nth-of-type(5n) {
	margin-right: 0;
}

.wp-block-gallery.columns-4.is-style-brands .blocks-gallery-item {
	width: calc((100% - 180px) / 4);
	max-width: calc((100% - 180px) / 4);
	margin-right: 60px;
	margin-bottom: 60px;
}

.wp-block-gallery.columns-4.is-style-brands .blocks-gallery-item:nth-of-type(4n) {
	margin-right: 0;
}

.wp-block-gallery.columns-3.is-style-brands .blocks-gallery-item {
	width: calc((100% - 120px) / 3);
	max-width: calc((100% - 120px) / 3);
	margin-right: 60px;
	margin-bottom: 60px;
}

.wp-block-gallery.columns-3.is-style-brands .blocks-gallery-item:nth-of-type(3n) {
	margin-right: 0;
}

@media only screen and ( max-width: $mobile_width ) {
	.wp-block-gallery.is-style-brands .blocks-gallery-item {
		width: calc((100% - 120px) / 2) !important;
		max-width: calc((100% - 120px) / 2) !important;
		margin-right: 60px !important;
		margin-bottom: 60px !important;
	}

	.wp-block-gallery.is-style-brands .blocks-gallery-item:nth-of-type(2n) {
		margin-right: 0 !important;
	}
}

// is-style-profiles
.wp-block-gallery.is-style-profiles {
	align-items: flex-start;
	flex-flow: row wrap;

	&.columns-1 .blocks-gallery-item  {
		max-width: 100%;
	}
	&.columns-2 .blocks-gallery-item {
		max-width: 50%;
	}
	&.columns-3 .blocks-gallery-item {
		max-width: 33.3333%;
	}
	&.columns-4 .blocks-gallery-item {
		max-width: 25%;
	}
	&.columns-5 .blocks-gallery-item {
		max-width: 20%;
	}
	&.columns-6 .blocks-gallery-item {
		max-width: 16.6667%;
	}
	&.columns-7 .blocks-gallery-item {
		max-width: 14.2857%;
	}
	&.columns-8 .blocks-gallery-item {
		max-width: 12.5%;
	}

	.blocks-gallery-item {
		margin: 0 !important;
		max-width: 20%;
		// flex-grow: 0;
		justify-content: space-around;
		position: relative;
		overflow: hidden;

		figcaption {
			@include heading;
			@include h4;

			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 10px 20px 10px 20px;
			margin: 0;
			opacity: 0;
			text-align: center;
			background: rgba(255, 255, 255, 0.8);
			transition: all 0.4s;
			transform: translateY(100%);

			@media screen and ( max-width: $tablet_width ) {
				transition: none;
				transform: none;
				opacity: 1;
			}
		}

		@media screen and ( max-width: $ipad_width ) {
			max-width: 33.3333% !important;
			width: 33.3333% !important;
		}

		@media screen and ( max-width: $tablet_width ) {
			max-width: 50% !important;
			width: 50% !important;
		}

		@media screen and ( max-width: $mobile_width ) {
			max-width: 100% !important;
			width: 100% !important;
		}

		&:hover {
			.blocks-gallery-item__caption {
				transform: translateY(1%);
				opacity: 1;
			}
		}
	}


}
