@use "sass:math";

.has-background-dim-value-0 {
	opacity: 0;
}

@for $i from 1 through 10 {
	.has-background-dim-value-#{$i}0 {
		opacity: math.div($i, 10);
	}
}

.block-wrap {
	margin: 0 auto;
	max-width: $content_max_width_full;
}
