[data-align="wide"] .is-block-content .wp-block-group,
[data-align="full"] .is-block-content .wp-block-group {
	padding: 20px 60px;

	.wp-block {
		max-width: none;
	}
}

html .wp-block[data-type="core/group"] {
	> .wp-block-group__inner-container,
	> .wp-block-group {
		border: 1px dashed $admin_border_color !important;
		padding: 10px !important;
	}
}

