html {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&.is-style-button-heading {
			@include button-font;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&.elegant {
		text-transform: none;
		position: relative;
		margin-top: 100px;
		margin-bottom: 100px;

		em {
			font-weight: $heading_font_weight_light !important;
			padding-right: 30px;
		}

		em,
		strong {
			position: relative;
			background-color: $body_background-color;
			z-index: 1;
		}

		&::before {
			content: "";
			width: 50px;
			height: 100px;
			position: absolute;
			top: calc(50% - 50px);
			left: 0;
			border: 5px solid $border_color;
			// z-index: -1;
			opacity: 0.5;
		}

		&::after {
			content: "";
			width: 100%;
			height: 1px;
			position: absolute;
			bottom: 40%;
			left: 0;
			background: $border_color;
			// z-index: -1;
			opacity: 0.5;
		}
	}
}
