/* Figcaption */
.wp-block-image {
	margin-bottom: 30px;

	figcaption {
		@include caption;
	}
}

//grayscale
.wp-block-image.is-style-grayscale img {
	filter: grayscale(100%);
}
//grayscale
.wp-block-image.is-style-grayscale-to-color img {
	filter: grayscale(100%);
	@include animation-all;
	&:hover {
		filter: none;
	}
}
.wp-block-image.is-style-spotlight img {
	@include box-shadow( $weight: 'heavy' );
}
