/* Figcaption */
.wp-block-image {
	margin-bottom: 30px;

	figcaption {
		color: $gray_text_color;
		font-size: $body_font_size - 2;
		font-style: italic;
		margin-bottom: 0;
		margin-top: 10px;
		text-align: center;
	}
}

//grayscale
.wp-block-image.is-style-grayscale img {
	filter: grayscale(100%);
}
//grayscale
.wp-block-image.is-style-grayscale-to-color img {
	filter: grayscale(100%);
	@include animation-all;
	&:hover {
		filter: none;
	}
}
