.wc-block-grid {
	.wc-block-grid__products {
		margin-right: -3.8%;
		margin-left: 0;
	}
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-onsale {
	top: 15px;
	right: auto;
	left: 0;
	margin: 0 0 0 -10px;
	position: absolute;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product-price {
	font-size: $body_font_size;
	font-weight: 700;
}

.wc-block-grid .wc-block-grid__products {
	.wc-block-grid__product {
		list-style-type: none;

		a {
			text-decoration: none;
		}

		.wc-block-grid__product-price {
			del {
				opacity: 0.5;
			}

			ins {
				text-decoration: none;
			}
		}
	}
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product {
	margin-bottom: 2.994em;
	padding-right: 3.8%;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-image {
	margin-bottom: 1.5em;
}

html .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-price,
html .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-rating,
html .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
	margin-bottom: 0.5em;
}

html .wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
	color: $heading_color;
	font-family: $heading_font_family;
	font-weight: $heading_font_weight;
	line-height: $heading_font_line_height;
	text-transform: $heading_font_text_transform;
	text-decoration: none;
	letter-spacing: $heading_font_letter_spacing;
	font-size: $heading_font_size_h3 - 7;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product {
	text-align: left;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart a.loading::after,
.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart a.added::after {
	font-style: normal;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product {
	.wp-block-button .added_to_cart,
	.wp-block-button a {
		position: relative;
		font-size: 14px;
		padding: 9px 24px;
		margin-top: 1em;
		line-height: 1;
	}

	.wp-block-button a {
		&.loading {
			padding-right: 2.618em;
		}

		&.loading::after {
			top: 0.7em;
		}
	}

	.wp-block-button .added_to_cart {
		// font-family: $button_font_family;
		// font-size: $button_font_size;
		// font-weight: $button_font_weight;
		// letter-spacing: $button_font_letter_spacing;
		// line-height: $body_font_line_height;
		// text-decoration: $button_font_text_decoration;
		// text-transform: $button_font_text_transform;
		// font-style: $button_font_style;
		// margin-top: 0;
		margin-left: 0;
		display: inline-block;
		// padding: 10px 0 0 0;
	}

	@media only screen and (max-width: $mobile_width ) {

		// .wp-block-button .wp-block-button__link {
		// display: block;
		// width: 100%;
		// }

		// .wp-block-button .added_to_cart {
		// margin-left: 0;
		// margin-right: 0;
		// margin-top: 5px;
		// text-align: center;
		// display: block;
		// padding: 5px 0;
		// }
	}
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-onsale {
	// font-family: $button_font_family;
	font-size: $body_font_size_tiny;
	font-weight: 700;
	// letter-spacing: $button_font_letter_spacing;
	// text-decoration: $button_font_text_decoration;
	text-transform: uppercase;
	// font-style: $button_font_style;
	line-height: 50px;
	border-radius: 0;
	top: 15px;
	right: auto;
	left: 0;
	margin: 0 0 0 -10px;
	padding: 0 0.674em;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 50px;
	text-align: left;

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 100%;
		border: 25px solid transparent;
		border-right-width: 15px;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-left-width: 0;
	}
}

@media only screen and (max-width: $ipad_width ) {
	.wc-block-grid.has-6-columns .wc-block-grid__product,
	.wc-block-grid.has-5-columns .wc-block-grid__product,
	.wc-block-grid.has-4-columns .wc-block-grid__product,
	.wc-block-grid.has-3-columns .wc-block-grid__product {
		flex: 1 0 50%;
		max-width: 50%;
	}
}

@media only screen and (max-width: $small_mobile_width ) {
	.wc-block-grid.has-6-columns .wc-block-grid__product,
	.wc-block-grid.has-5-columns .wc-block-grid__product,
	.wc-block-grid.has-4-columns .wc-block-grid__product,
	.wc-block-grid.has-3-columns .wc-block-grid__product {
		flex: none;
		max-width: 100%;
	}

	.wc-block-grid .wc-block-grid__products .wc-block-grid__product {
		padding-right: 0;
	}

	.wc-block-grid {
		.wc-block-grid__products {
			margin-right: 0;
		}
	}
}
