.wp-block-empower-pro-blocks-schedule-item {
	position: relative;

	.wp-block-schedule-item__text-wrap {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.wp-block-schedule-item__inner-wrap {
		display: flex;
		align-items: flex-start;
	}

	&.is-vertically-aligned-bottom {
		.wp-block-schedule-item__inner-wrap {
			align-items: flex-end;
		}
	}

	&.is-vertically-aligned-top {
		.wp-block-schedule-item__inner-wrap {
			align-items: flex-start;
		}
	}

	&.is-vertically-aligned-center {
		.wp-block-schedule-item__inner-wrap {
			align-items: center;
		}
	}
	.button-icon-before {
		flex: 0 0 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: content-box;
		transition: all 0.2s;
		position: relative;
		z-index: 1;

		@media screen and ( max-width: $mobile_width ) {
			max-width: 64px;
			padding-right: 20px;
		}

		.button-icon-inner {
			width: 18px;

			@media screen and ( max-width: $mobile_width ) {
				height: auto !important;
			}
		}

		&.is-image-icon {
			margin-top: 0;
		}

		&.grayscale {
			@include grayscale;
		}

		&.image-style-hex svg,
		&.image-style-hex img {
			@include hex-crop;
		}

		&.image-style-circle svg,
		&.image-style-circle img {
			@include circle-crop;
		}

		svg {
			fill: $dark_text_color;
		}
	}

	&:hover .button-icon-before  {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	&::after {
		content: "";
		height: 100%;
		width: 2px;
		border-left: 2px dashed $border_color;
		position: absolute;
		top: 13px;
		bottom: 0;
		left: 29px;
		z-index: 0;
	}

	.icon-text {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.icon-heading,
	.icon-info,
	.icon-text-wrapper,
	.icon-text {
		width: 100%;
		display: block;
	}

	.icon-heading {
		@include heading;
		@include h4;
		// font-weight: $body_font_weight_bold;
		margin-bottom: 3px;
		color: $dark_text_color;
	}

	&.schedule-highlight .icon-heading {
		text-transform: uppercase;
	}

	&.schedule-highlight .icon-text {
		display: inline-block;
		padding: 1px 5px;
		width: auto;
	}

	.icon-text {
		font-size: $body_font_size_xsmall;
		color: $dark_text_color;
		font-style: italic;
	}
	.icon-info {
		font-size: $body_font_size_small;
		color: $gray_text_color;
	}
}
