.wp-block-empower-pro-blocks-card {
	.wp-block-card__inner-content {
		& p {
			color: $text_color !important;
		}

		border-top: 14px solid $border_color;
		width: 100%;
		background-color: $body_background_color;
		padding: 60px 30px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		border-radius: $border_radius;
		border-top-left-radius: $border_radius_medium;
		border-top-right-radius: $border_radius_medium;

		.wp-block-image {
			text-align: left;
			margin-bottom: 0;
			display: block;
			display: flex;
		}

		.wp-block-image > * {
			margin-bottom: 0;
			max-height: 60px;
		}
		.wp-block-image {
			margin-bottom: $margin_bottom;
		}

		&.plain {
			border-top-width: 0;
			border-radius: 0;
		}
	}
}
