.wp-block-empower-pro-blocks-grid {
	border: 1px dashed $admin_border_color;
	padding: 20px;
}

.wp-block-empower-pro-blocks-grid {
	// grid Block Columns
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		grid-template-columns: 1fr 1fr;

		> * {
			width: 100%;
			border: 1px dashed $admin_border_color;
			padding: 20px;
			margin: 0;
			height: 100%;
		}
	}

	&.is-vertically-aligned-bottom {
		.block-editor-inner-blocks .block-editor-block-list__layout {
			align-items: flex-end;

			> * {
				height: auto;
			}
		}
	}

	&.is-vertically-aligned-top {
		.block-editor-inner-blocks .block-editor-block-list__layout {
			align-items: flex-start;

			> * {
				height: auto;
			}
		}
	}

	&.is-vertically-aligned-center {
		.block-editor-inner-blocks .block-editor-block-list__layout {
			align-items: center;

			> * {
				height: auto;
			}
		}
	}

	&.grid-columns-4 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	&.grid-columns-3 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&.grid-columns-7-3 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 7fr 3fr;
		}
	}

	&.grid-columns-6-4 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 6fr 4fr;
		}
	}

	&.grid-columns-3-7 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 3fr 7fr;
		}
	}

	&.grid-columns-5-5 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr 1fr;
		}
	}

	&.grid-columns-4-6 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 4fr 6fr;
		}
	}

	&.grid-columns-25-35-20-20 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 25fr 35fr 20fr 20fr;
		}
	}

	&.items-center {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			align-items: center;
		}
	}

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		grid-template-rows: 1fr;
		grid-gap: 60px 60px;

		> *:last-child {
			margin-bottom: 0 !important;
		}

		@media only screen and ( max-width: $ipad_width ) {
			grid-template-columns: 1fr 1fr !important;
			grid-gap: 60px 60px !important;
		}

		@media only screen and ( max-width: $tablet_width ) {
			grid-template-columns: 1fr !important;
			grid-gap: 60px 60px !important;
		}
	}

	&.grid-columns-4--3--2--1 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr 1fr 1fr 1fr;

			@media only screen and ( max-width: $ipad_width ) {
				grid-template-columns: 1fr 1fr 1fr !important;
			}
			@media only screen and ( max-width: $tablet_width ) {
				grid-template-columns: 1fr 1fr !important;
			}
			@media only screen and ( max-width: $mobile_width ) {
				grid-template-columns: 1fr !important;
			}
		}
	}

	$sizes: 100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0;
	@each $size in $sizes {
		&.grid-gap-#{$size} {
			> .block-editor-inner-blocks > .block-editor-block-list__layout {
				grid-gap: #{$size}px #{$size}px !important;
			}
		}

		&.r-grid-gap-#{$size} {
			> .block-editor-inner-blocks > .block-editor-block-list__layout {
				@media only screen and ( max-width: $ipad_width ) {
					grid-gap: #{$size}px #{$size}px !important;
				}
			}
		}
	}
}
