.wp-block-empower-pro-blocks-scheduler {
	> * {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.wp-block-empower-pro-blocks-scheduler {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;

	div.column-title {
		// @include box-shadow;
		flex-grow: 1;
		padding: 40px 30px;
		border-radius: 0;
		// border-top-left-radius: $border_radius_medium;
		// border-top-right-radius: $border_radius_medium;
		font-size: $button_font_size;
		background-color: #fff !important;
		color: $text_color !important;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		span.span-title {
			@include heading;
			@include h3;
			margin-bottom: 0;
		}

		span.span-text {
			@include heading;
			@include h4;
			font-size: $heading_font_size_h4_tiny;
			opacity: 0.5;
			text-transform: uppercase;
			margin-bottom: 0;
		}
	}
}
