.nav-primary .genesis-nav-menu > li > a::after {
	transition: width 0.2s;
}

.nav-mobile-cta,
.hero-fixed,
.site-header-background,
.site-header {
	transition: all 0.4s;
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
}

.cd-words-wrapper b {
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 0;
	display: none;
}

.cd-words-wrapper b.is-visible {
	position: relative;
	display: inline-block;
}

/* xclip */
.cd-headline.clip span {
	display: inline-block;
	padding: 0;
}

.cd-headline.clip .typewriter {
	display: block;
}

.cd-headline.clip .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {

	/* line */
	content: "";
	position: absolute;
	top: 10%;
	right: 0;
	width: 2px;
	height: 80%;
	margin-left: 0;
	background-color: $border_color;
	opacity: 0.5;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 99em;
}

.cd-headline.is-mobile.clip .cd-words-wrapper::after {
	opacity: 0;
}

.cd-headline.is-mobile .cd-words-wrapper {
	width: auto !important;
	overflow: hidden;
}

.cd-headline.is-mobile .cd-words-wrapper b.is-visible {
	padding-right: 0;
	display: none;
}

.cd-headline.is-mobile .cd-words-wrapper b.original-text {
	display: inline-block !important;
	position: static;
	opacity: 1;
}

.cd-headline.clip b {
	opacity: 0;
}

.cd-headline b.is-visible {
	opacity: 1;
	font-weight: $heading_font_weight;
	// padding-right: 4px;
}

.wp-block-atomic-blocks-ab-columns.schedule {
	p {
		cursor: default;

		&::before {
			transition: all 0.2s;
		}

		&:hover::before {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}

@keyframes sweep {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
