.nav-primary .genesis-nav-menu > li > a::after {
	transition: width 0.2s;
}

.nav-mobile-cta,
.hero-fixed,
.site-header-background,
.site-header {
	transition: all 0.4s;
}

.wp-block-atomic-blocks-ab-columns.schedule {
	p {
		cursor: default;

		&::before {
			transition: all 0.2s;
		}

		&:hover::before {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}
