.wp-block-empower-pro-blocks-schedule {
	.wp-block-schedule__inner-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		justify-content: center;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 60px 0px;

		> div {
			width: 100%;
		}

		@media screen and ( max-width: $tablet_width ) {
			grid-template-columns: 1fr;
		}

		@media screen and ( min-width: $tablet_width_1 ) {
			> .wp-block > .wp-block-empower-pro-blocks-scheduler {
				> .column-title .dim-bg {
					border-top-right-radius: 0;
					border-top-left-radius: 0;
				}
			}

			> .wp-block:first-child > .wp-block-empower-pro-blocks-scheduler {
				> .column-title .dim-bg {
					border-top-left-radius: $border_radius_medium;
				}
			}

			> .wp-block:last-child > .wp-block-empower-pro-blocks-scheduler {
				> .column-title .dim-bg {
					border-top-right-radius: $border_radius_medium;
				}
			}
		}

	}
}
.wp-block-empower-pro-blocks-schedule {
	.wp-block-schedule__inner-wrap {
		display: block !important;
	}
}
.wp-block-empower-pro-blocks-schedule {
	.wp-block-schedule__inner-wrap {
		border: 1px dashed $admin_border_color;
		padding: 0 20px;
	}
}
