.wp-block-empower-pro-blocks-schedule {
	.wp-block-schedule__inner-wrap {
		display: grid;
		justify-content: center;
		align-items: flex-start;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 30px 0px;

		> div {
			width: 100%;
		}

		@media screen and ( min-width: $tablet_width_1 ) {
			> .wp-block-empower-pro-blocks-scheduler {
				> .column-title .dim-bg {
					border-top-right-radius: 0;
					border-top-left-radius: 0;
				}

				&:first-child {
					> .column-title .dim-bg {
						border-top-left-radius: $border_radius_medium;
					}
				}

				&:last-child {
					> .column-title .dim-bg {
						border-top-right-radius: $border_radius_medium;
					}
				}
			}
		}

		@media screen and ( max-width: $tablet_width ) {
			grid-template-columns: 1fr;

			> .wp-block-empower-pro-blocks-scheduler {
				// border-width: 0;
			}
		}
	}
}
