.wp-block-empower-pro-blocks-schedule {
	.wp-block-schedule__inner-wrap {
		display: grid;
		justify-content: center;
		align-items: flex-start;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 60px 0px;

		> div {
			width: 100%;
		}

		@media screen and ( max-width: $tablet_width ) {
			grid-template-columns: 1fr;
		}
	}
}
