/* Gray line
--------------------------------------------- */
.title-gray-line {
	height: 160px;
	width: 100%;
	background-color: $body_background_color_two;

	// @include diagonal-top;

	@media only screen and (min-width: 1900px) {
		height: 200px;
	}

	@media only screen and (min-width: 2500px) {
		height: 250px;
	}
}

.footer-gray-line {
	float: left;
	height: 200px;
	width: 100%;
	background-color: $body_background_color_two;

	// @include diagonal-top;

	@media only screen and (min-width: 2200px) {
		height: 230px;
	}

	@media only screen and (min-width: 2800px) {
		height: 300px;
	}
}

.above-footer-cta + .footer-gray-line {
	// display: none;
	// height: 0;
	// position: absolute;
	// margin: 0 !important;
}

@media only screen and (max-width: $ipad_width) {
	.title-gray-line,
	.footer-gray-line {
		height: 130px;
	}

}

@media only screen and (max-width: $tablet_width) {
	.title-gray-line,
	.footer-gray-line {
		height: 110px;
	}

	.footer-gray-line + .site-footer {
		padding-top: 40px;
	}

}

@media only screen and (max-width: $mobile_width) {
	.title-gray-line,
	.footer-gray-line {
		height: 80px;
	}

}
