body {
	// background-color: $body_background_color;
	// background-image: url("../images/fixed-bg.svg");
	// background-position: bottom center;
	// background-repeat: no-repeat;
	// background-attachment: fixed;
	// background-size: cover;
}

.site-container {
	overflow-x: hidden;
	position: relative;
}

.content-sidebar-wrap,
.wrap {
	margin: 0 auto;
	max-width: 1200px;
}

// .epb-banner,
.site-header,
.site-footer,
.footer-widgets {
	> .wrap {
		margin: 0 auto;
		max-width: calc(100% - 100px);

		@media only screen and (max-width: $desktop_width) {
			max-width: calc(100% - 40px);
		}
		@media only screen and (max-width: $ipad_width) {
			max-width: none;
		}

		.wrap {
			max-width: none;
		}
	}
}

.site-inner {
	clear: both;
	word-wrap: break-word;
	margin-top: $nav_height;

	@media only screen and (max-width: $ipad_width) {
		margin-top: 0;
	}
}

.page-template-page-landing-2 {
	.site-inner {
		margin-top: $nav_height !important;
	}
}

.single {
	.site-inner {
		margin-bottom: 80px;
	}
}

.page-template-template-blocks {
	.site-inner {
		margin-bottom: 0;
	}
}

.page-template-template-blocks,
.has-featured-image {
	.site-inner {
		// margin-top: 0;
	}
}

.single-simulation_video,
.page-template-page-landing {
	.site-inner {
		margin-top: 0;
	}
}

.single-simulation_video {
	.site-inner {
		margin-bottom: 160px;
	}
}

.landing-page .site-inner {
	margin-left: auto;
	margin-right: auto;
}

/* Content */
.content {
	float: right;
	width: $content_outer_width;
}

.page.sidebar-content .content-sidebar-wrap .content,
.page.content-sidebar .content-sidebar-wrap .content,
.single.sidebar-content .content-sidebar-wrap .content,
.single.content-sidebar .content-sidebar-wrap .content {
	max-width: $content_width;
	margin-left: auto;
	margin-right: auto;

	@media only screen and (min-width: $ipad_width_1) and (max-width: $wide_width) {
		max-width: $content_width - 100;
	}
}

.content-sidebar-wrap > .content,
.content-sidebar-wrap > .sidebar-primary {
	// margin-bottom: 70px;
}

.content-sidebar .content {
	float: left;
}

.full-width-content .content {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.landing-page.full-width-content .content {
	width: $content_outer_width;
}

.landing-page .footer-cta-image.full-width-image::after {
	display: none;
}

/* Primary Sidebar */
.sidebar-primary {
	// background-color: #fff;
	float: right;
	position: relative;
	width: 300px;
	min-width: 300px;
	z-index: 1;
}

.sidebar-content .sidebar-primary {
	float: left;
}
