.wp-block-empower-pro-blocks-profile {
	width: 100%;
	height: 100%;

	.profile-content {
		width: 100%;
		height: 100%;
	}

	.wp-block-profile__inner-content {
		& p {
			color: $text_color !important;
		}

		width: 100%;
		height: 100%;
		background-color: transparent;
		padding: 0;
		// box-shadow: 0 2px 30px 0 rgba(0,0,0,0.07);
		border-radius: $border_radius;
		border-top-left-radius: $border_radius_medium;
		border-top-right-radius: $border_radius_medium;
		display: flex;
		flex-direction: column;
		// transition: all 0.15s linear;
		border-radius: 0;
		text-align: center;

		.profile-heading {
			margin-bottom: 10px;

			&::before {
				transition: all 0.15s linear;
				content: " ";
				height: 5px;
				width: 40px;
				background-color: $border_color;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
				display: block;
				border-radius: 99em;
			}

		}

		&:hover .profile-heading::before {
			width: 50px;
		}

		&:hover {
			// -webkit-transform: translateY(-2px);
			// transform: translateY(-2px);
			// @include box-shadow-hover;
		}

		.wp-block-buttons {
			margin-top: auto;
		}

		.wp-block-image {
			text-align: left;
			display: block;
			display: flex;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: $margin_bottom;

			> * {
				margin-bottom: 0;
				object-fit: cover;
				max-height: 60px;
			}

			&.image-style-hex,
			&.image-style-circle {
				width: 60px;
				height: 60px;

				> * {
					max-height: none;
				}
			}

			&.image-style-hex {
				svg,
				img {
					@include hex-crop;
				}
			}

			&.image-style-circle {
				svg,
				img {
					@include circle-crop;
				}
			}

		}

		> *:last-child {
			margin-bottom: 0;
		}

	}
}
