/* Regular content width. */
/* 750px + 30px to match paragraph width on front-end and editor. */
.wp-block {
	max-width: $content_width;
}

.wp-block-button:not(.has-text-color):not(.is-style-outline) [data-rich-text-placeholder]::after {
    color: $light_gray_text_color;
}

/* Width of "wide" blocks */

/* 860px + 30px so wide images match width in front-end and editor. */
.wp-block[data-align="wide"] {
	max-width: $content_max_width_full;

	.wp-block {
		max-width: none;
	}
}

.wp-block[data-align="full"] {
	max-width: none;

	.wp-block {
		max-width: none;
	}
}

.block-wrap .wp-block {
	max-width: none;
}

.block-editor-block-inspector .components-button + .components-button {
	margin-left: 10px;
}

/* URL inspector field in sidebar */
.components-panel input.block-editor-url-input__input[type="text"] {
	max-width: 100% !important;
	box-shadow: 0 0 0 transparent;
	transition: box-shadow .1s linear;
	border-radius: 2px;
	border: 1px solid #757575;
}

/* Site Elements */
.post-type-site_element .wp-block,
.post-type-site_element .wp-block[data-align="wide"],
.post-type-site_element .wp-block[data-align="full"] {
	max-width: none !important;
	// max-width: calc(100% - 100px);
}

.block-editor-block-styles .is-root-container > * {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
