@mixin ionicon() {
	display: inline-block;
	font-family: Ionicons !important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin box-shadow-top() {
	box-shadow: 0 -2px 30px 0 rgba(0, 0, 0, 0.07);
	// box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05)
}

@mixin box-shadow() {
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.07);
	// box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05)
}

@mixin box-shadow-hover() {
	box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.15);
	// box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15)
}

@mixin object-fit-disable() {
	height: auto;
	padding-bottom: 0;
	overflow: visible;
	position: relative;
	display: block;

	img {
		vertical-align: top;
		object-fit: none;
		position: static;
		top: auto;
		left: auto;
	}
}

@mixin object-fit() {
	height: 0;
	padding-bottom: 64%;
	overflow: hidden;
	position: relative;
	display: block;

	img {
		vertical-align: top;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 50% 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

@mixin unclip() {
	clip: auto;
	height: auto;
	position: static;
	width: auto;
}

@mixin clip() {
	clip: rect(0, 0, 0, 0);
	height: 1px;
	position: absolute;
	width: auto;
}

@mixin diagonal() {
	overflow: hidden;
	position: relative;
	// z-index: -1;

	&::before {
		content: "";
		background-color: $body_background_color;
		height: 500px;
		transform: skewY(-5deg);
		position: absolute;
		width: 200%;
		z-index: 9;
		top: 0;
		left: 0;
		right: 0;
		margin-top: -500px;
	}

	&::after {
		content: "";
		background-color: $body_background_color;
		height: 500px;
		transform: skewY(-5deg);
		position: absolute;
		width: 200%;
		z-index: 0;
		bottom: -500px;
		left: -100%;
		right: 0;
	}

	img {
		vertical-align: top;
	}
}

@mixin diagonal-bottom() {
	overflow: hidden;
	position: relative;
	// z-index: 1;

	&::after {
		content: "";
		background-color: $body_background_color;
		height: 500px;
		transform: skewY(-5deg);
		position: absolute;
		width: 200%;
		z-index: 0;
		bottom: -500px;
		left: -100%;
		right: 0;
	}

	img {
		vertical-align: top;
	}
}

@mixin diagonal-top() {
	overflow: hidden;
	position: relative;
	// z-index: 1;

	&::before {
		content: "";
		background-color: $body_background_color;
		height: 500px;
		transform: skewY(-5deg);
		position: absolute;
		width: 200%;
		z-index: 9;
		top: 0;
		left: 0;
		right: 0;
		margin-top: -500px;
	}

	img {
		vertical-align: top;
	}
}

@mixin background-2x($path, $ext: "png") {
	$at1x_path: "#{$path}.#{$ext}";
	$at2x_path: "#{$path}-2x.#{$ext}";

	background-image: url("#{$at1x_path}");

	@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
		background-image: url("#{$at2x_path}");
	}
}

@mixin horizontal-gradient($from, $to, $start: 0%, $stop: 100%) {
	/* fallback/image non-cover color */
	background-color: $from;

	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(left, $from $start, $to $stop);

	/* Safari 4+, Chrome 1+ */
	background-image: -webkit-gradient(linear, left top, right top, color-stop($start, $from), color-stop($stop, $to));

	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient(left, $from $start, $to $stop);

	/* Opera 11.10+ */
	background-image: -o-linear-gradient(left, $from $start, $to $stop);

	/* IE10+ */
	background: -ms-linear-gradient(left, $from $start, $to $stop);

	/* Standard */
	background: linear-gradient(to right, $from $start, $to $stop);

	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

@mixin vertical-gradient($from, $to, $start: 0%, $stop: 100%) {
	/* fallback/image non-cover color */
	background-color: $from;

	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, $from $start, $to $stop);

	/* Safari 4+, Chrome 1+ */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop($start, $from), color-stop($stop, $to));

	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, $from $start, $to $stop);

	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, $from $start, $to $stop);

	/* IE10+ */
	background: -ms-linear-gradient(top, $from $start, $to $stop);

	/* Standard */
	background: linear-gradient(to bottom, $from $start, $to $stop);

	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}

@mixin heading() {
	font-family: $heading_font_family;
	font-weight: $heading_font_weight;
	line-height: $heading_font_line_height;
	letter-spacing: $heading_font_letter_spacing;
	margin: 0 0 $margin_bottom;
	text-decoration: none;
	color: $heading_color;
	font-style: $heading_font_style;

	a:hover,
	a:focus,
	a {
		text-decoration: none;
		box-shadow: none;
	}

	a {
		color: $heading_color;
	}

	b {
		font-weight: $heading_font_weight;
	}
}

@mixin h1() {
	font-size: $heading_font_size_h1;
	text-transform: $heading_font_text_transform;
	letter-spacing: $heading_font_letter_spacing;
	margin-bottom: $margin_bottom;

	@media only screen and (max-width: $desktop_width) {
		font-size: $heading_font_size_h1_desktop;
	}

	@media only screen and (max-width: $ipad_width) {
		font-size: $heading_font_size_h1_ipad;
	}

	@media only screen and (max-width: $tablet_width) {
		font-size: $heading_font_size_h1_tablet;
	}
}

@mixin large-text() {
	color: $heading_color;
	display: block;
	font-family: $heading_font_family;
	font-size: $body_font_size_huge;
	font-weight: $heading_font_weight;
	letter-spacing: $heading_font_letter_spacing;
	line-height: $heading_font_line_height;
	padding-right: 10%;

	@media only screen and (min-width: ( $ipad_width + 1 ) ) {
		&.alignwide,
		&.alignwide {
			padding-right: 10% !important;
		}
	}

	@media only screen and (max-width: $desktop_width) {
		font-size: $body_font_size_huge_desktop;
	}

	@media only screen and (max-width: $ipad_width) {
		font-size: $body_font_size_huge_ipad;
		padding: 0;
	}
}

@mixin h2() {
	font-size: $heading_font_size_h2;
	text-transform: $heading_font_text_transform;

	@media only screen and (max-width: $ipad_width) {
		font-size: $heading_font_size_h2_ipad;
	}
}
@mixin h3() {
	font-size: $heading_font_size_h3;
	text-transform: $heading_font_text_transform;

	@media only screen and (max-width: $ipad_width) {
		font-size: $heading_font_size_h3_ipad;
	}
}
@mixin h4() {
	// color: $color_one;
	font-size: $heading_font_size_h4;
	text-transform: $heading_font_text_transform;
	font-weight: $heading_font_h4_weight;
	margin-bottom: 15px;
	letter-spacing: $body_font_letter_spacing;

	a {
		text-decoration: none;
	}

	@media only screen and (max-width: $ipad_width) {
		font-size: $heading_font_size_h4_ipad;
	}
}
@mixin h4-alt() {
	// color: $color_one;
	font-size: $heading_font_size_h4 - 2;
	text-transform: uppercase;
	font-weight: $heading_font_weight_bold;
	margin-bottom: 15px;
	letter-spacing: $heading_font_h4_letter_spacing;

	a {
		text-decoration: none;
	}

	@media only screen and (max-width: $ipad_width) {
		font-size: $heading_font_size_h4_ipad;
	}
}
@mixin h5() {
	font-family: $body_font_family;
	font-size: $heading_font_size_h5;
	letter-spacing: $body_font_letter_spacing;
	font-weight: $body_font_weight_bold;
}
@mixin h6() {
	font-family: $body_font_family;
	font-size: $heading_font_size_h6;
	font-weight: $body_font_weight_bold;
	font-style: $heading_font_style_h6;
}

@mixin button-font() {
	font-family: $button_font_family;
	font-size: $button_font_size;
	font-weight: $button_font_weight;
	letter-spacing: $button_font_letter_spacing;
	line-height: $body_font_line_height;
	text-decoration: $button_font_text_decoration;
	text-transform: $button_font_text_transform;
	font-style: $button_font_style;
}

@mixin button-text() {
	font-family: $button_font_family;
	font-size: $button_font_size;
	font-weight: $button_font_weight;
	letter-spacing: $button_font_letter_spacing;
	line-height: $body_font_line_height;
	text-decoration: $button_font_text_decoration;
	text-transform: $button_font_text_transform;
	color: $button_font_text_color;
	font-style: $button_font_style;
	border-radius: 0;
	border-left-width: 0 !important;
	border-top-width: 0 !important;
	border-right-width: 0 !important;
	border-bottom-width: 0 !important;
	padding: 8px 0;
	box-shadow: none;
	position: relative;
	background-color: transparent !important;

	&,
	&::after {
		transition: all 0.2s;
	}

	&:focus,
	&:hover {
		background-color: transparent !important;
	}

	&::after {
		content: " ";
		background-color: $border_color;
		width: 50%;
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		border-radius: 99em;

	}

	&:hover::after {
		width: 98%;
	}

	@include button-hover-animation-disable;
}

@mixin animation-all() {
	transition: all 0.4s;
}

@mixin button-hover-animation-disable() {
	&:focus,
	&:hover {
		// box-shadow: none;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@mixin button-hover() {
	@include animation-all;

	&:focus,
	&:hover {
		// box-shadow: none;
		-webkit-transform: translateY(-2px);
		-moz-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}

@mixin button() {
	position: relative;
	font-family: $button_font_family;
	font-size: $button_font_size;
	font-weight: $button_font_weight;
	letter-spacing: $button_font_letter_spacing;
	line-height: $button_font_line_height;
	text-decoration: $button_font_text_decoration;
	text-transform: $button_font_text_transform;
	font-style: $button_font_style;
	border-radius: $button_radius;
	border: $border_width solid transparent;
	color: #fff;
	cursor: pointer;
	padding: 14px 26px 14px 26px;
	text-align: center;
	white-space: normal;
	width: auto;
	transition: all 0.4s;
	display: inline-block;

	@include button-hover;
}

@mixin widget-title() {
	font-family: $body_font_family;
	line-height: $heading_font_line_height;
	letter-spacing: $heading_font_h4_letter_spacing;
	text-transform: uppercase;
	font-weight: $heading_font_h4_weight;
	color: $gray_text_color !important;
	font-size: $body_font_size_small;
}

@mixin body-font() {
	color: $text_color;
	font-family: $body_font_family;
	font-size: $body_font_size;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	font-weight: $body_font_weight;
	letter-spacing: $body_font_letter_spacing;
	line-height: $body_font_line_height;

	@media only screen and (max-width: $tablet_width) {
		font-size: $body_font_size;
	}
}
