.wp-block-empower-pro-blocks-hero {

	&.components-placeholder h2 {
		color: inherit;
	}

	.block-editor-block-list__layout {
		width: 100%;
	}

	.block-editor-block-list__block {
		color: $light-gray-100;
	}

	// The .wp-block-cover class is used just to increase selector specificity.
	.wp-block-cover__inner-container {
		// Avoid text align inherit from cover image align.
		text-align: left;
	}

	.wp-block-cover__inner-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
		margin-left: 0;
		margin-right: 0;
	}

	.wp-block-cover__placeholder-background-options {
		width: 100%;
	}

	// Apply max-width to floated items that have no intrinsic width.
	[data-align="left"] &,
	[data-align="right"] & {
		max-width: $content-width / 2;
		width: 100%;
	}
}

.caption{
	max-width: 300px;
}

.caption-right{
	position: absolute !important;
	top: 80% !important;
	left: 140px;
	right: auto !important;
	bottom: auto !important;
	border-width: 0 !important;
	margin-bottom: 28px !important;
	text-align: left;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	&::before {
		content: "";
		position: absolute !important;
		right: auto !important;
		left: 15px !important;
		top: -75px !important;
		border-right: transparent !important;
		height: 50px !important;
		width: 50px !important;
		border-top: 3px solid #fff !important;
		border-right: 3px solid #fff !important;
		-moz-transform: skewY(-45deg) !important;
		-webkit-transform: skewY(45deg) !important;
		transform: skewY(45deg) !important; 
	}

	&::after {
		content: "";
		position: absolute !important;
		top: -103px;
		right: auto;
		left: 10px;
		width: 10px !important;
		height: 10px !important;
		border-radius: 99em !important;
		background-color: #fff !important;
	}
}

.caption-left {
	position: absolute !important;
	top: 80% !important;
	left: 150px;
	right: auto !important;
	bottom: auto !important;
	border-width: 0 !important;
	margin-bottom: 28px !important;
	text-align: left;
	&::before {
		top: -75px;
		right: auto;
		left: 15px;
		border-right:transparent !important;
		border-top: 3px solid #fff;
		border-left: 2px solid #fff;
		-moz-transform: skewY(-45deg);
		-webkit-transform: skewY(-45deg);
		transform: skewY(-45deg);
	}

	&::after {
		top: -103px;
		right: auto;
		left: 60px;
	}

}

.editor-caption-alignment-text{
	position: relative;
	bottom: 10px;
}

.Caption-box-align-right{
	position: absolute;
	width: 100%;
	padding: 10px;
	bottom: 200px;
	left: 0px;
}

.Caption-box-align-left{
	position: absolute;
	width: 100%;
	left: 0px;
	padding: 10px;
	bottom: 200px;
}
.editor-button{
	background-color: #ffcc2a !important;
	position: relative;
    font-family: "Oswald", sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
    border-radius: 0;
    /* border: 0 solid transparent; */
    color: #fff;
    cursor: pointer;
    padding: 14px 26px 14px 26px;
    text-align: center;
    white-space: normal;
    width: auto;
    transition: all 0.4s;
    display: inline-block;

	&:focus,
	&:hover {
		// box-shadow: none;
		// -webkit-transform: translateY(-2px);
		// -moz-transform: translateY(-2px);
		// transform: translateY(-2px);

		&::after {
			top: 0;
			left: 0;
			border-color: transparent !important;
		}
	}

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		border: 1px solid black;
		position: absolute;
		left: 4px;
		top: 4px;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		z-index: 1;
	}
}
