.wp-block-empower-pro-blocks-hero {

	&.components-placeholder h2 {
		color: inherit;
	}

	.block-editor-block-list__layout {
		width: 100%;
	}

	.block-editor-block-list__block {
		color: $light-gray-100;
	}

	// The .wp-block-cover class is used just to increase selector specificity.
	.wp-block-cover__inner-container {
		// Avoid text align inherit from cover image align.
		text-align: left;
	}

	.wp-block-cover__inner-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
		margin-left: 0;
		margin-right: 0;
	}

	.wp-block-cover__placeholder-background-options {
		width: 100%;
	}

	// Apply max-width to floated items that have no intrinsic width.
	[data-align="left"] &,
	[data-align="right"] & {
		max-width: $content-width / 2;
		width: 100%;
	}
}

.block-library-cover__reset-button {
	margin-left: auto;
}

.editor-button{
	-webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.0333em;
    line-height: 1.25;
    margin: 0;
    opacity: 1;
    padding: 16px 26px 16px 26px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 0.15s linear;}
.block-library-cover__resize-container:not(.is-resizing) {
	// Important is used to have higher specificity than the inline style set by re-resizable library.
	height: auto !important;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 60px), 50% 100%, 0% calc(100% - 60px));
}
