.wp-block-empower-pro-blocks-hero {
	padding-bottom: 77px * 2;

	.wp-block-hero__inner-container {
		& .wp-block-subhead,
		& h1,
		& h2,
		& h3,
		& h4,
		& h5,
		& h6 {
			// color: $heading_color !important;
			font-size: 48px;

			@media screen and ( max-width: $tablet_width ) {
				font-size: 38px;
			}
		}

		& p {
			color: $text_color !important;
		}

		.hero-content {
			background-color: transparent !important;
		}

		.hero-content > .wp-block-hero__inner-content {
			border-top: 14px solid $border_color;
			max-width: 600px;
			width: 100%;
			background-color: $body_background_color;
			padding: 30px 0;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
			border-radius: $border_radius;
			border-top-left-radius: $border_radius_medium;
			border-top-right-radius: $border_radius_medium;

			@media screen and ( min-width: $ipad_width_1 ) {
				> *,
				> .h1,
				> h1,
				> div,
				> p {
					padding-left: 50px;
					padding-right: 50px;
				}
			}

		}

		.hero-content .wp-block-image {
			text-align: right;
			margin-bottom: 0;
			display: block;
		}
	}

	.wp-block-hero__inner-container {
		$height: $nav_height + 77;
		height: calc((100vh) - #{$height});
		min-height: 450px;
		max-height: 650px;
		z-index: 1;
		top: 0;
		transition: none;
		display: flex;
		align-items: flex-end;
		justify-content: start; 
		overflow: visible;
		position: relative;

		> .wp-block-hero__background-image {
			margin: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			overflow: hidden;
			background-color: #000;
			background-size: cover;
			background-position: 50%;
			min-height: 430px;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.overlay-color {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		@media screen and ( min-width: $ipad_width_1 ) {
		}

		> .hero-content {
			width: 100%;
			margin-bottom: -77px;

			@media screen and ( max-width: $mobile_width ) {
				margin-bottom: -114px;
			}
		}

		> .hero-content {
			display: flex;
		}

		> .hero-content > .wp-block-hero__inner-content {
			margin-left: 50px;
			margin-right: 50px;
			z-index: 60;
			position: relative;

			// Gray bottom bar
			.gray-bottom-bar {
				background-color: $body_background_color_two;
				border-bottom-right-radius: $border_radius;
				border-bottom-left-radius: $border_radius;
				margin: 30px 0 -30px 0;
				padding-top: 20px;
				padding-bottom: 20px;
				height: 77px;
				display: flex;

				.wp-block-button {

					&.text.icon {
						display: flex;
						align-items: center;
					}

					.button-icon-before {
						margin-right: 6px;
						width: 11px;
						display: flex;
					}
				}

				&.wp-block-buttons .wp-block-button {
					margin-right: 30px;
				}

				@media screen and ( max-width: $mobile_width ) {
					display: block;

					&.wp-block-buttons .wp-block-button {
						display: block;
						margin-left: 0;
					}

				}

				@media screen and ( max-width: $ipad_width ) {
				}

				@media screen and ( max-width: $mobile_width ) {
					height: 114px;
				}
			}

			@media screen and ( max-width: $ipad_width ) {
				margin-top: 0;
				margin-left: 5%;
				margin-right: 5%;

				> *,
				> .h1,
				> h1,
				> div,
				> p {
					padding-left: 5%;
					padding-right: 5%;
				}
			}
		}

		@media screen and ( max-width: $ipad_width ) {
		}

		@media screen and ( max-width: $mobile_width ) {
		}

		@media screen and ( max-height: 600px ) {
			height: 500px;
		}

		@media screen and ( max-width: $ipad_width ) {
			height: 550px !important;
			min-height: 0;
		}

		@media screen and ( max-width: $mobile_width ) {
			height: 550px !important;
			min-height: 0;
		}
	}

	.wp-block-hero__inner-wrap {
		max-width: 100%;
		position: relative;
	}

	h1,
	.h1 {
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
	}

	.cd-words-wrapper {
		display: inline-block;
		position: relative;
		text-align: left;
	}

	.cd-words-wrapper b {
		position: absolute;
		white-space: nowrap;
		left: 0;
		top: 0;
		display: none;
	}

	.cd-words-wrapper b.is-visible {
		position: relative;
		display: inline-block;
	}

	/* xclip */
	.cd-headline.clip span {
		display: inline-block;
		padding: 0;
	}

	.cd-headline.clip .typewriter {
		display: block;
	}

	.cd-headline.clip .cd-words-wrapper {
		overflow: hidden;
		vertical-align: top;
	}

	.cd-headline.clip .cd-words-wrapper::after {

		/* line */
		content: "";
		position: absolute;
		top: 10%;
		right: 0;
		width: 2px;
		height: 80%;
		margin-left: 0;
		background-color: $border_color;
		opacity: 0.5;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		border-radius: 99em;
	}

	.cd-headline.is-mobile.clip .cd-words-wrapper::after {
		opacity: 0;
	}

	.cd-headline.is-mobile .cd-words-wrapper {
		width: auto !important;
		overflow: hidden;
	}

	.cd-headline.is-mobile .cd-words-wrapper b.is-visible {
		padding-right: 0;
		display: none;
	}

	.cd-headline.is-mobile .cd-words-wrapper b.original-text {
		display: inline-block !important;
		position: static;
		opacity: 1;
	}

	.cd-headline.clip b {
		opacity: 0;
	}

	.cd-headline b.is-visible {
		opacity: 1;
		font-weight: $heading_font_weight;
		// padding-right: 4px;
	}

}

.admin-bar {
	.wp-block-empower-pro-blocks-hero .wp-block-hero__inner-wrap .wp-block-hero__inner-container {
		$height: $nav_height + 32px + 77px;
		height: calc((100vh) - #{$height});

		@media screen and ( max-width: $ipad_width ) {
		}

		@media screen and ( max-width: $sticky_admin_bar_width ) {
		}
	}
}

.above-fold-background {
	position: absolute;
	bottom: -320px;
	z-index: 50;
	left: -320px;

	@media only screen and ( max-width: $ipad_width ) {
		display: none;
	}
}

.top-right-background {
	position: absolute;
	top: -340px;
	z-index: 100;
	right: -260px;

	@media only screen and ( max-width: $ipad_width ) {
		display: none;
	}
}
